
# Ignore everything in root
/*

# Game Root Too
SolidSnakeUE4Project/*

# --Whitelist--
# Anywhere
!README
!README*
!HACKING
!HACKING.md


# Root Directory
!Assets/

# Main Project Directory
!SolidSnakeUE4Project/
!SolidSnakeUE4Project/*.lua
!SolidSnakeUE4Project/*.uproject

!SolidSnakeUE4Project/Config
!SolidSnakeUE4Project/Content
!SolidSnakeUE4Project/Content/*

!SolidSnakeUE4Project/Source

# Blacklist
**/Import
*.bak
